{% extends "layout/basic.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2>{{ film.name }}</h2>
                <video
                id="my-video"
                class="video-js"
                controls
                preload="auto"
                width="730"
                height="400"

                data-setup="{}"
              >
                <source src="{% url 'stream' film.pk %}" type="video/mp4" />
                
              </video>
            
              <script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>
            </div>
        </div>
        <!-- <div class="count">
            {{ film.annotated_likes }}
        </div> -->
        <!-- <form method="post"> -->
            {% csrf_token %}
            <button type="submit" class="btn btn-danger like-button" name="film-liked" id="film-liked" value="{{ film.name }}">
                <span class="material-symbols-outlined">
                    recommend
                </span>
            </button>

        <!-- </form> -->

    </div>
{% endblock %}


