{% extends "layout/basic.html" %}

{% block content%}

  {% for film in films %}
    <main>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                  <div class="card shadow-sm">
                    
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Image</text></svg>
                    <div class="card-body">
                      <p class="card-title">{{ film.name}}</p>
                      <p class="card-text">{{ film.description|slice:":30" }}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-outline-secondary" name="film-name" id="film-name" value="{{ film.name }}">
                              In bookmarks
                            </button>
                          </form>
                        </div>
                        <small class="text-body-secondary">{{ film.updated_at.date }}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </main>
  {% endfor %}
{% endblock %}